.main-container {
    width: 100vw;
    height: 100vh;
    background-color:  #fbfbfb;
    padding-top: 5vh;
    .visualizer-container {
        width: 1100px;
        margin: 0 auto;
        .pathfinder {
            padding-bottom: 50px;
            .options-container {
                width: 884px;
                margin: 0 auto;
                .DrawModeSelect-container {
                    margin-top: 20px;

                    .buttons {
                        margin-bottom: 5px;
                        display: block;
                        margin-inline: 20px;
                        .AlgoDropdownButton {
                            width: 155px;
                            display: block;
                            .text {
                                float: left;
                            }
                            .icon {
                                float: right;
                            }
                        }
                    }
                    .dropdown-content {
                        display: block;
                        height: 50px;
                        .text {
                            float: left;
                        }
                        .icon {
                            float: right;
                        }
                    }
                }
            }
            .visualizer-table-container {
                width: 100%;
                .gridTable {
                    margin: 0 auto;
                      display: flex;
                      width: 884px;
                      flex-direction: row;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      align-content: space-around;
                      text-align: center;
                    -webkit-user-drag: none;
                    div {
                        width: 22px;
                        height: 16px;
                        flex-shrink: 0;
                        border: 1px solid #fafafa;
                        -webkit-user-drag: none;
                    }
                    border: solid 2px #8f8f8f;
                }
            }
        }
    }
    footer {
        margin-top: 40px;
    }
}

//Animations and Cell states 
$visited-color-animation: #99d6ff;
$visited-color: #e6f5ff;


#START_POINT {
    background-color: green;
}

#END_POINT {
    background-color: red;
}

#WALL {
    background-color: gray;
    border: none;
}

#VISITED {
    animation: fadeinVisited 0.7s;
    background-color: $visited-color;

}

#PATH {
    background-color: orange;
    animation: fadeinPath 2s;
    opacity: 1;
    border: none;
}

@keyframes fadeinPath {
    from { opacity:0; }
    to { opacity:1; }
}


@keyframes fadeinVisited {
    from { opacity:0; }
    to { 
        opacity:1; 
        background-color: $visited-color-animation;
    }
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.button {
    cursor: pointer;
    * {
        cursor: pointer;
    }
}
